<!--@layout(/layout/basic/main.html)-->
<!--@css(/_idio/css/oroceleste.css)-->
<div class="selectOroceleste">
  <div class="oroCeleste-wrap">
    <!--스페인-->
    <div class="spain">
      <div class="section_content">
        <div class="titleTxt">
          <h3>세계 10년 연속 1위 World Best Olive oil 수상</h3>
          <h2>
            60년 전통, 전 세계가 인정한 최고의 올리브오일 생산농장 <br />
            Almazaras De la Subbética
          </h2>
          <p>
            스페인 남부 안달루시아 시에라스 수베티카스 국립공원 심장부
            코르도바의<br />
            천혜환경에서 60년 넘게 이어진 전통과 현대기술을 보유한 알마자라스 데
            라 수베티카 농장은<br />
            "최고의 올리브 농장" 타이틀을 10년 연속 수상(2016~2024)한<br />
            명실상부 최고의 올리브 농장이자, 오로셀레스테의 생산지입니다.
          </p>
        </div>

        <div class="img_wrap">
          <div class="prize_img_wrap">
            <h2 class="prize_title">
              세계가 인정한 맛,<br />
              자부심과 역사의 증명
            </h2>
            <ul class="prize">
              <li>
                <img
                  src="/oroceleste/mainbanner/prize.png"
                  alt="수상1"
                  class="spain_map"
                />
              </li>
              <li>
                <img
                  src="/oroceleste/mainbanner/prize01.png"
                  alt="수상2"
                  class="spain_map"
                />
              </li>
              <li>
                <img
                  src="/oroceleste/mainbanner/prize02.png"
                  alt="수상3"
                  class="spain_map"
                />
              </li>
              <li>
                <img
                  src="/oroceleste/mainbanner/prize03.png"
                  alt="수상4"
                  class="spain_map"
                />
              </li>
              <li>
                <img
                  src="/oroceleste/mainbanner/prize04.png"
                  alt="수상5"
                  class="spain_map"
                />
              </li>
              <li>
                <img
                  src="/oroceleste/mainbanner/prize05.png"
                  alt="수상6"
                  class="spain_map"
                />
              </li>
            </ul>
          </div>

          <img
            src="/oroceleste/mainbanner/spain_map.png"
            alt="스페인지도"
            class="spain_map"
          />
        </div>
      </div>
    </div>
    <!-- 품질원칙-->
    <div class="oroceleste_grade">
      <div class="section_content">
        <div class="titleTxt">
          <h3>0.16%의 프리미엄 엑스트라 버진</h3>
          <h2>오로셀레스테의 품질 원칙</h2>
          <p>
            다 같은 엑스트라 버진 오일이라 하여 같은 품질을 보장할 수
            없습니다.<br />
            오로셀레스테는 신선한 올리브열매만을 엄선하고, 체계적인
            생산시스템으로<br />
            영양소 파괴 없는 건강한 올리브오일을 생산합니다.
          </p>
        </div>
        <div class="grade">
          <ul class="grade-list">
            <li>
              <p class="num first">01</p>
              <div class="txt">
                <p class="type">프리미엄 엑스트라 버진</p>
                <p class="text">
                  최저산도 0.2% 이하의 최고급 프리미엄 올리브 오일
                </p>
              </div>
            </li>
            <li>
              <p class="num second">02</p>
              <div class="txt">
                <p class="type">엑스트라 버진</p>
                <p class="text">
                  최저산도 0.8% 이하, 갓 추출한 올리브유로 구성된 고급
                  올리브오일
                </p>
              </div>
            </li>
            <li>
              <p class="num tirtd">03</p>
              <div class="txt">
                <p class="type">버진</p>
                <p class="text">
                  산도 1.5% 이하, 두번 압착으로 풍미는 살아 있는 올리브오일
                </p>
              </div>
            </li>
            <li>
              <p class="num fourth">04</p>
              <div class="txt">
                <p class="type">퓨어</p>
                <p class="text">
                  가공산도 1.5% 이하, 버진 올리브오일과 정제 올리브오일을 혼합한
                  올리브오일
                </p>
              </div>
            </li>
            <li>
              <p class="num fifth">05</p>
              <div class="txt">
                <p class="type">포마스</p>
                <p class="text">
                  착즙 후 남은 올리브 오일 찌꺼기를 화학 융매제로 정제한 오일
                </p>
              </div>
            </li>
          </ul>
          <picture>
            <source
              media="(max-width: 768px)"
              srcset="/oroceleste/mainbanner/tastygrade_mo.png"
            />
            <source
              media="(max-width: 769px)"
              srcset="/oroceleste/mainbanner/tastygrade.png"
            />
            <img
              src="/oroceleste/mainbanner/tastygrade.png"
              alt="오로셀레스테 등급표"
              class="tastygrade"
            />
          </picture>
        </div>
      </div>
    </div>
    <!--오로셀레스테-->
    <div class="oroceleste_slide"></div>
    <!-- 체크포인트-->
    <div class="oroceleste_CheckPoint">
      <div class="section_content">
        <div class="titleTxt">
          <h3 style="color: #000">
            건강과 맛 뿐만 아니라 환경까지 생각합니다.
          </h3>
          <h2 style="color: #000">100% 유기농 올리브오일, 꼭 확인하세요</h2>
          <p style="color: #000">
            100% 유기농 올리브오일 화학 농약과 인공 첨가물 없이 생산한 순수
            유기농 올리브오일로,<br />
            자연 그대로의 건강함을 그대로 담았습니다.<br />
          </p>
        </div>
        <div class="certification">
          <ul class="certification-list">
            <li>
              <img
                src="/oroceleste/mainbanner/eu-organic-logo.png"
                alt="euroleaf-label"
              />
              <div class="txt">
                <p class="type">유로리프 (Euro-Leaf)</p>
                <p class="text">
                  유럽 전역에서 통용되는 신뢰도 높은 유기농 인증 마크
                </p>
              </div>
            </li>
            <li>
              <img
                src="/oroceleste/mainbanner/caae_logo.jpg"
                alt="caae-label"
              />
              <div class="txt">
                <p class="type">CAAE 인증</p>
                <p class="text">
                  올리브오일 분야에서 가장 권위있는 유기농 제품 인증마크
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
